<%- include('header'); -%>

    <main>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(function(user) { %>
                        <tr>
                            <td>
                                <%= user.id %>
                            </td>
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.password %>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <p>
                <a href="/signup">Click here to return to the signup form</a>
            </p>
        </div>
    </main>

    <%- include('footer'); -%>